# Database Creation and Table Management

## Importing Libraries

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
import mysql.connector as mysqlConn

In [2]:
#identifier comp3080
#username musaddique333
#database dublinBikes29

## Database Info

In [3]:
URL='comp3080.cho0moo0yp7i.us-east-1.rds.amazonaws.com'
PORT='3306'
DB='dublinBikes29'
USER='musaddique333'

### Password from keychain

In [4]:
from cryptography.fernet import Fernet

In [5]:
with open('keys/RDS.key', 'rb') as filekey:
    key = filekey.read()
with open('keys/RDS.enc', 'rb') as fileenc:
    cipher_text = fileenc.read()

cipher_suite = Fernet(key)
PASSWORD = cipher_suite.decrypt(cipher_text).decode()

### Establishing Database Connection

In [ ]:
import mysql.connector

In [ ]:
try:
    connection = mysql.connector.connect(
        host=URL,
        user=USER,
        password=PASSWORD,
        database=DB
    )
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print(f"Successfully connected to MySQL Server version {db_Info}")
        # Close the connection
        connection.close()
    else:
        print("Failed to connect to the database.")
except mysql.connector.Error as e:
    print(f"Error while connecting to MySQL: {e}")

In [6]:
engine=create_engine(f'mysql+mysqldb://{USER}:{PASSWORD}@{URL}:{PORT}/{DB}', echo=True)

In [7]:
from sqlalchemy import text
query = '''CREATE DATABASE IF NOT EXISTS dublinbikes29;'''
with engine.connect() as db_conn:
     db_conn.execute(text(query))

2024-02-23 00:09:29,288 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-23 00:09:29,288 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-23 00:09:29,505 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-23 00:09:29,505 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-23 00:09:29,611 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-23 00:09:29,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-23 00:09:29,823 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-23 00:09:29,824 INFO sqlalchemy.engine.Engine CREATE DATABASE IF NOT EXISTS dublinbikes29;
2024-02-23 00:09:29,824 INFO sqlalchemy.engine.Engine [generated in 0.00094s] ()
2024-02-23 00:09:29,932 INFO sqlalchemy.engine.Engine ROLLBACK

### Creating Static Data Table

In [8]:
query = '''CREATE TABLE IF NOT EXISTS station 
        (ID INTEGER,
        contract VARCHAR (256),
        name VARCHAR (256),
        address VARCHAR (256), 
        banking INTEGER,
        bonus INTEGER,
        stands INTEGER,    
        position_lat REAL, 
        position_lng REAL, 
        status VARCHAR (256))'''
try:
  with engine.connect() as db_conn:
    res = db_conn.execute(text('DROP TABLE IF EXISTS station;'))
    res = db_conn.execute(text(query))
    print(res.fetchall())
except Exception as e:
  print(e)

2024-02-23 00:09:30,044 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-23 00:09:30,044 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS station;
2024-02-23 00:09:30,045 INFO sqlalchemy.engine.Engine [generated in 0.00118s] ()
2024-02-23 00:09:30,164 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS station
        (ID INTEGER,
        contract VARCHAR (256),
        name VARCHAR (256),
        address VARCHAR (256),
        banking INTEGER,
        bonus INTEGER,
        stands INTEGER,
        position_lat REAL,
        position_lng REAL,
        status VARCHAR (256))
2024-02-23 00:09:30,165 INFO sqlalchemy.engine.Engine [generated in 0.00058s] ()
2024-02-23 00:09:30,299 INFO sqlalchemy.engine.Engine ROLLBACK
This result object does not return rows. It has been closed automatically.

### Creating Dynamic Data Table

In [9]:
query = '''CREATE TABLE IF NOT EXISTS availability 
        (ID INTEGER, 
        bikes INTEGER, 
        bike_stands INTEGER, 
        last_update INTEGER)'''
try:
    with engine.connect() as db_conn:
        res = db_conn.execute(text('DROP TABLE IF EXISTS availability'))
        res = db_conn.execute(text(query))
        print(res.fetchall())
except Exception as e:
    print(e)

2024-02-23 00:09:30,411 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-23 00:09:30,411 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS availability
2024-02-23 00:09:30,412 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ()
2024-02-23 00:09:30,527 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS availability
        (ID INTEGER,
        bikes INTEGER,
        bike_stands INTEGER,
        last_update INTEGER)
2024-02-23 00:09:30,528 INFO sqlalchemy.engine.Engine [generated in 0.00040s] ()
2024-02-23 00:09:30,658 INFO sqlalchemy.engine.Engine ROLLBACK
This result object does not return rows. It has been closed automatically.