# Database Creation and Table Management

## Importing Libraries

In [8]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
import mysql.connector as mysqlConn

In [2]:
#identifier comp3080
#username musaddique333
#database dublinBikes29

## Database Info

In [3]:
URL='comp3080.cho0moo0yp7i.us-east-1.rds.amazonaws.com'
PORT='3306'
DB='dublinBikes29'
USER='musaddique333'
PASSWORD='7483854963Mus#'

In [4]:
engine=create_engine(f'mysql+mysqldb://{USER}:{PASSWORD}@{URL}:{PORT}/{DB}', echo=True)

In [1]:
from sqlalchemy import text
query = '''CREATE DATABASE IF NOT EXISTS dublinbikes29;'''
with engine.connect() as db_conn:
     db_conn.execute(text(query))

NameError: name 'engine' is not defined

### Creating Static Data Table

In [6]:
query = '''CREATE TABLE IF NOT EXISTS station 
        (ID INTEGER,
        contract VARCHAR (256),
        name VARCHAR (256),
        address VARCHAR (256), 
        banking INTEGER,
        bonus INTEGER,
        stands INTEGER,    
        position_lat REAL, 
        position_lng REAL, 
        status VARCHAR (256))'''
try:
  with engine.connect() as db_conn:
    res = db_conn.execute(text('DROP TABLE IF EXISTS station;'))
    res = db_conn.execute(text(query))
    print(res.fetchall())
except Exception as e:
  print(e)

2024-02-22 22:49:36,036 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-22 22:49:36,037 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS station;
2024-02-22 22:49:36,038 INFO sqlalchemy.engine.Engine [generated in 0.00172s] ()
2024-02-22 22:49:36,156 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS station
        (ID INTEGER,
        contract VARCHAR (256),
        name VARCHAR (256),
        address VARCHAR (256),
        banking INTEGER,
        bonus INTEGER,
        stands INTEGER,
        position_lat REAL,
        position_lng REAL,
        status VARCHAR (256))
2024-02-22 22:49:36,156 INFO sqlalchemy.engine.Engine [generated in 0.00037s] ()
2024-02-22 22:49:36,300 INFO sqlalchemy.engine.Engine ROLLBACK
This result object does not return rows. It has been closed automatically.

### Creating Dynamic Data Table

In [7]:
query = '''CREATE TABLE IF NOT EXISTS availability 
        (ID INTEGER, 
        bikes INTEGER, 
        bike_stands INTEGER, 
        last_update INTEGER)'''
try:
    with engine.connect() as db_conn:
        res = db_conn.execute(text('DROP TABLE IF EXISTS availability'))
        res = db_conn.execute(text(query))
        print(res.fetchall())
except Exception as e:
    print(e)

2024-02-22 22:49:36,421 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-22 22:49:36,422 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS availability
2024-02-22 22:49:36,422 INFO sqlalchemy.engine.Engine [generated in 0.00170s] ()
2024-02-22 22:49:36,542 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS availability
        (ID INTEGER,
        bikes INTEGER,
        bike_stands INTEGER,
        last_update INTEGER)
2024-02-22 22:49:36,543 INFO sqlalchemy.engine.Engine [generated in 0.00037s] ()
2024-02-22 22:49:36,681 INFO sqlalchemy.engine.Engine ROLLBACK
This result object does not return rows. It has been closed automatically.