In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
import mysql.connector as mysqlConn

In [2]:
#identifier comp3080
#username musaddique333
#database dublinBikes29

In [3]:
URL='comp3080.cho0moo0yp7i.us-east-1.rds.amazonaws.com'
PORT='3306'
DB='dublinBikes29'
USER='musaddique333'
PASSWORD='7483854963Mus#'

In [4]:
engine=create_engine(f'mysql+mysqldb://{USER}:{PASSWORD}@{URL}:{PORT}/{DB}', echo=True)

In [10]:
from sqlalchemy import text
query = '''CREATE DATABASE IF NOT EXISTS dublinbikes29;'''
with engine.connect() as db_conn:
     db_conn.execute(text(query))

2024-02-21 20:02:27,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-21 20:02:27,371 INFO sqlalchemy.engine.Engine CREATE DATABASE IF NOT EXISTS dublinbikes29;
2024-02-21 20:02:27,371 INFO sqlalchemy.engine.Engine [cached since 398.7s ago] ()
2024-02-21 20:02:27,484 INFO sqlalchemy.engine.Engine ROLLBACK

In [6]:
query = '''CREATE TABLE IF NOT EXISTS station 
        (address VARCHAR (256), 
        banking INTEGER, 
        bike_stands INTEGER, 
        bonus INTEGER, 
        contract_name VARCHAR (256), 
        name VARCHAR (256), 
        number INTEGER, 
        position_lat REAL, 
        position_lng REAL, 
        status VARCHAR (256))'''
try:
  with engine.connect() as db_conn:
    res = db_conn.execute(text('DROP TABLE IF EXISTS station;'))
    res = db_conn.execute(text(query))
    print(res.fetchall())
except Exception as e:
  print(e)

2024-02-21 19:55:48,900 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-21 19:55:48,901 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS station;
2024-02-21 19:55:48,901 INFO sqlalchemy.engine.Engine [generated in 0.00123s] ()
2024-02-21 19:55:49,011 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS station
        (address VARCHAR (256),
        banking INTEGER,
        bike_stands INTEGER,
        bonus INTEGER,
        contract_name VARCHAR (256),
        name VARCHAR (256),
        number INTEGER,
        position_lat REAL,
        position_lng REAL,
        status VARCHAR (256))
2024-02-21 19:55:49,012 INFO sqlalchemy.engine.Engine [generated in 0.00115s] ()
2024-02-21 19:55:49,146 INFO sqlalchemy.engine.Engine ROLLBACK
This result object does not return rows. It has been closed automatically.

In [9]:
query = '''CREATE TABLE IF NOT EXISTS availability 
        (number INTEGER, 
        available_bikes INTEGER, 
        available_bike_stands INTEGER, 
        last_update INTEGER)'''
try:
    with engine.connect() as db_conn:
        res = db_conn.execute(text('DROP TABLE IF EXISTS availability'))
        res = db_conn.execute(text(query))
        print(res.fetchall())
except Exception as e:
    print(e)

2024-02-21 19:58:46,958 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-21 19:58:46,959 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS availability
2024-02-21 19:58:46,960 INFO sqlalchemy.engine.Engine [generated in 0.00213s] ()
2024-02-21 19:58:47,076 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS availability
        (number INTEGER,
        available_bikes INTEGER,
        available_bike_stands INTEGER,
        last_update INTEGER)
2024-02-21 19:58:47,076 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ()
2024-02-21 19:58:47,200 INFO sqlalchemy.engine.Engine ROLLBACK
This result object does not return rows. It has been closed automatically.