In [2]:
import pandas as pd

# data = pd.read_csv('data/static_data.csv')

In [ ]:
data.columns

Index(['Unnamed: 0', 'ID', 'contract', 'name', 'address', 'banking', 'bonus',
       'stands', 'position_lat', 'position_lng', 'status'],
      dtype='object')

In [ ]:
markers = []
for i in range(1):
    temp = {}
    temp['locationName'] = data.values[3][i]
    temp['lat'] = data.values[8][i]
    temp['lng'] = data.values[9][i]
    temp['address'] = data.values[4][i]
    temp['banking'] = data.values[5][i]
    temp['bonus'] = data.values[6][i]
    temp['stands'] = data.values[7][i]
    temp['status'] = data.values[8][i]

In [ ]:
data.values[1]

array([1, 30, 'dublin', 'PARNELL SQUARE NORTH', 'Parnell Square North', 0,
       0, 20, 53.3537415547453, -6.26530144781526, 'OPEN'], dtype=object)

In [6]:
import requests
import json
from cryptography.fernet import Fernet
import pandas as pd

In [4]:
NAME = "Dublin"
STATIONS = "https://api.jcdecaux.com/vls/v1/stations"
WEATHER = "http://api.weatherapi.com/v1/current.json"

In [7]:
with open('keys/JCDecaux.key', 'rb') as filekey:
    key = filekey.read()
with open('keys/JCDecaux.enc', 'rb') as fileenc:
    cipher_text = fileenc.read()
cipher_suite = Fernet(key)
API_KEY = cipher_suite.decrypt(cipher_text).decode()

In [8]:
response = requests.get(STATIONS, params={"apiKey": API_KEY, "contract": NAME})
response.raise_for_status()

data1 = response.text
data1 = json.loads(data1)
data1 = pd.json_normalize(data1)

In [9]:
response = requests.get(WEATHER, params={"key": "1afd61b9571f4d8a8f7133239242702", "q": '53.3510857,-6.2529918'})
response.raise_for_status()

data2 = response.text
data2 = json.loads(data2)
data2 = pd.json_normalize(data2)

In [10]:
data1.head()

,number,contract_name,name,address,banking,bonus,bike_stands,available_bike_stands,available_bikes,status,last_update,position.lat,position.lng
0,42,dublin,SMITHFIELD NORTH,Smithfield North,False,False,30,10,20,OPEN,1709166611000,53.349562,-6.278198
1,30,dublin,PARNELL SQUARE NORTH,Parnell Square North,False,False,20,17,3,OPEN,1709166613000,53.353742,-6.265301
2,54,dublin,CLONMEL STREET,Clonmel Street,False,False,33,32,1,OPEN,1709166686000,53.336021,-6.262980
3,108,dublin,AVONDALE ROAD,Avondale Road,False,False,35,16,19,OPEN,1709166614000,53.359405,-6.276142
4,20,dublin,JAMES STREET EAST,James Street East,False,False,30,30,0,OPEN,1709166709000,53.336597,-6.248109

In [11]:
data2.head()

,location.name,location.region,location.country,location.lat,location.lon,location.tz_id,location.localtime_epoch,location.localtime,current.last_updated_epoch,current.last_updated,...,current.precip_in,current.humidity,current.cloud,current.feelslike_c,current.feelslike_f,current.vis_km,current.vis_miles,current.uv,current.gust_mph,current.gust_kph
0,Dublin,Dublin,Ireland,53.35,-6.25,Europe/Dublin,1709166885,2024-02-29 0:34,1709166600,2024-02-29 00:30,...,0.0,81,75,5.6,42.2,10.0,6.0,1.0,24.4,39.2

In [12]:
data2.columns

Index(['location.name', 'location.region', 'location.country', 'location.lat',
       'location.lon', 'location.tz_id', 'location.localtime_epoch',
       'location.localtime', 'current.last_updated_epoch',
       'current.last_updated', 'current.temp_c', 'current.temp_f',
       'current.is_day', 'current.condition.text', 'current.condition.icon',
       'current.condition.code', 'current.wind_mph', 'current.wind_kph',
       'current.wind_degree', 'current.wind_dir', 'current.pressure_mb',
       'current.pressure_in', 'current.precip_mm', 'current.precip_in',
       'current.humidity', 'current.cloud', 'current.feelslike_c',
       'current.feelslike_f', 'current.vis_km', 'current.vis_miles',
       'current.uv', 'current.gust_mph', 'current.gust_kph'],
      dtype='object')

In [17]:
data2['current.last_updated_epoch']

0    1709166600
Name: current.last_updated_epoch, dtype: int64

In [ ]:
current.feelslike_c,
current.cloud,
current.humidity,
current.precip_in,
current.pressure_in,
current.wind_kph,
current.condition.icon,
current.condition.text,